*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*.usertasks
*.userprefs
*.licx
*.bak
*.log
*.user
*.vspscc
*.vssscc~$*
deploy/*
_ReSharper.*
[Oo]bj
[Bb]in
deploy
StyleCop.Cache
aspnet_client
Thumbs.db
TestResults
*.generated.cs